.sideNav {
    border-radius: 0 0 0 0;
    display: flex;
    max-width: 192px;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
  }
  
  .navContainer {
    border-radius: 0 20px 20px 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 35px 13px;
  }
  
  .activeItem {
    border-radius: 12px;
    background-color: rgba(58, 156, 43, 0.33);
    align-self: stretch;
    padding: 8px 10px;
  }
  
  .navItem {
    margin: 42px 0 0 10px;
  }
  
  .cartItem {
    display: flex;
    gap: 19px;
    margin: 50px 0 0 10px;
  }