.all{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(238, 255, 226);
}

.contentContainer {
  display: flex;

  height: 100vh;
}


.welcome{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  align-items: center;

}

.productCard1, .productCard2, .productCard3, .productCard4{
    margin-top: 150px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 50px; /* Spacing between cards */
    justify-items: center;
  
}

body{
  background-color: rgb(238, 255, 226);
}

.available{
  display: flex;
  flex-direction: row;
  margin-top: 90px;
}