.pageContainer {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: end;
    justify-content: center;
    padding: 168px 70px;
  }
  
  .contentWrapper {
    width: 100%;
    max-width: 1220px;
  }
  
  .rowContainer {
    gap: 20px;
    display: flex;
  }
  
  .formColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    justify-content: left;
    width: 39%;
    margin-left: 0;
  }
  
  .imageColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 61%;
    margin-left: 20px;
  }
  
  .signupImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }
  
  @media (max-width: 991px) {
    .pageContainer {
      padding: 100px 20px;
    }
  
    .contentWrapper {
      max-width: 100%;
    }
  
    .rowContainer {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .formColumn,
    .imageColumn {
      width: 100%;
      margin-left: 0;
    }
  
    .signupImage {
      max-width: 100%;
      margin-top: 40px;
    }
  }