.formContainer {
  border-radius: 20px;
  border: 0.5px solid rgb(192, 192, 192);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  width: 60%;
  flex-direction: column;
  align-self: center;
  margin: auto;
  padding: 76px 68px;
  /* transform: translate(0%, 20%); */
  
}

.inputField {
  align-self: center;
  border-radius: 15px;
  min-height: 30px;
  padding: 17px 10px;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-bottom: 21px;
  width: 100%;
  font: 400 16px Inter, sans-serif;
}

.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(58, 156, 43, 1);
  padding: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
  width: 100%;
}


@media (max-width: 991px) {
  .formContainer {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }

  .submitButton {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}