  .progressContainer {
    display: flex;
    
    gap: 20px;
  }
  
  .progressBar {
    
    background: rgba(217, 217, 217, 1);
    border-radius: 20px;
    height: 10px;
    width: 150px;
/*
    height: 20px;
    flex: 1;
    background-color: #d4edda;
    border-radius: 20px;
    position: relative;*/
  }
  
  .progressFill {
    background: rgba(58, 156, 43, 1);
    border-radius: 20px;
    height: 100%;
  }
  /*
  .progress-bar-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .progress-bar {
    height: 20px;
    flex: 1;
    background-color: #d4edda;
    border-radius: 5px;
    position: relative;
  }
  
  .progress-bar::after {
    content: "";
    display: block;
    height: 100%;
    background-color: #28a745;
    border-radius: 5px;
    width: inherit;
    transition: width 0.3s ease;
  }
  
  .progress-label {
    font-size: 14px;
    font-weight: bold;
  }
  */