.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.contentContainer {
  display: flex;
  
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.mainContent {
  flex: 1;
  padding: 40px;
  margin-left:310px; /* Adjust based on your sidebar width */
  max-width: 1200px;
  margin-right: auto;
}

.welcome {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.available {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.noCourses {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .contentContainer {
      flex-direction: column;
      align-items: center;
  }

  .mainContent {
      width: 90%;
      padding: 15px;
  }

  .productGrid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
